<h1>Maxbot interface</h1>

<p><em>A <a href="https://www.sinatrarb.com">Sinatra</a> site that shares a database with a <a href="https://github.com/cinchrb/cinch">Cinch</a></em>Ruby IRC Bot</p>

<p>The bot is currently running in the ##codeunion and #appacad-sf-aug4-2014 channels on Freenode. You can go to <a href="www.kiwiirc.com">KiwiIRC</a> to access IRC in your browser. </p>

<p>You can view the code for this project (the IRC Bot and the Sinatra site) <a href="https://github.com/maxpleaner/maxbot">on GitHub.</a></p>

<hr>

<h3>Interface Options</h3>
<ul>
  <li>
    <a href="/all">View all posts</a>
  </li>
  <li>
    <a href="/users">Posts by user</a>
  </li>
  <li>
    <a href="/topics">Posts by topic</a>
  </li>
</ul>

<hr>

<h3>How to use the bot on IRC</h3>

<h4>"!echo" - Type !echo followed by anything you want and the bot will repeat it back to you.</h4>

<p>  
  <em>Example:</em><br>
  macsplean1: !echo I want you to repeat this back to me <br>
  maxbot: macsplean1 said "I want you to repeat this back to me"
</p>

<h4>"!log" - Type !log to make a note that you can view on this site </h4>

<p>
  <em>Example:</em> <br> 
  macsplean1: !log record me <br>
  maxbot: Message from macsplean1 was logged - see it at maxbot.ngrok.com <br>
</p>

<p>You can also optionally include a topic with your log</p>
  <em>Example:</em><br>
  macsplean1: !log t=test_topic This message will be categorized as test_topic <br>
  maxbot: Message from macsplean1 was logged - see it at maxbot.ngrok.com <br>
  <em>(At this point, each post can only have one tag and tags cannot have spaces) </em>

<br>
<br>
<hr>
<br>
<br>
<br><br>
